/* ===== LANDING INDEX CSS ===== */

/* Vaporwave Image Layout*/
body.landing-page {
  background-image: url('/assets/images/ChatGPT_vapor.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #000;
  min-height: 100vh;
}
