/* ===== LANDING INDEX CSS ===== */

/* Vaporwave Image Layout*/
body.landing-page {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #000;

}
